@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

html {
  box-sizing: border-box;
  font-family: Cinzel, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

/* Video Background */
.video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(255 255 255 / 30%);
}

.container {
  min-width: 580px;
  min-height: 304px;
  color: black;
  margin: 0 auto;
  padding: 25px 50px;
  border-radius: 5px;
  z-index: 2;
  display: flex;
  justify-content: center;
  background: rgb(255 255 255 / 80%);
}

#title {
  letter-spacing: 10px;
  margin-bottom: 0;
}

#subtitle {
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 0;
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-btn {
  font-size: 48px;
  margin: 10px;
  cursor: pointer;
}

.time-btn:hover {
  color: #0fa842;
  animation: shake .5s forwards;
}

@keyframes shake {
  0%, 100% {transform: rotate(0deg);}
  30% {transform: rotate(15deg);}
  60% {transform: rotate(-15deg);}
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .video-background {
    height: 100vh;
  }
  video {
    object-fit: cover;
    object-position: 70%;
    margin-top: -1px;
  }
  .container {
    min-width: unset;
    width: 95vw;
    min-height: 245px;
    padding: 20px;
    margin: 10px;
  }
}
